@font-face {
    font-family: "LanaPixel";
    font-style: normal;
    src: url("font/LanaPixel.ttf") format("truetype"); /* 경로 수정 */
}

.App-container {
    background-image: url("background.gif");
    background-repeat: repeat;
    min-height: 100dvh;
    display: flex;
    position: relative;
}

.window {
    background-image: url("main.png");
    background-size: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: calc(50% - 400px);
    top: 130px;
    width: 800px;
    height: 740px;
}

.App-logo {
    left: calc(50% - 320px);
    position: relative;
    top: 24px;
}
.Rectangle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    top: -20px;
    left: calc(50% - 320px);
}

.intro {
    position: relative;
    font-family: "LanaPixel";
    text-align: center;
    font-size: 16px;
    color: #000000;
    top: 40px;
    opacity: 100%;
}

.App-door {
    position: relative;
    top: -20px;
    display: flex;
    border-radius: 10px;
    width: 300px;
}
.App-button {
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #ab09e6;
    background: linear-gradient(to right, #ab09e6, #ffffae, #bbbbff);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "LanaPixel";
}

.App-button:hover {
    /* background: linear-gradient(to right, #ff9fe1, #ff7e5f); */
    animation: blinkAnimation 1s infinite;
}

@keyframes blinkAnimation {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
        background: rgb(255, 231, 98);
        border: 1px solid #ab09e6;
    }
    100% {
        opacity: 100%;
    }
}
@media all and (max-width: 375px) {
    .App-container {
        width: 100%;
        height: 120%;
        background-size: 60%;
        display: table;
    }
    .window {
        height: 555px;
    }

    .Rectangle {
        width: 5%;
        height: 5%;
        left: 5%;
        top: 80px;
    }

    .App-logo {
        width: 70%;
        position: absolute;
        top: 15px;
    }
    .intro {
        font-size: 12px;
        top: 60px;
        position: relative;
    }
    .App-door {
        width: 200px;
        top: 60px;
        position: relative;
    }
    .App-button {
        padding: 10px 20px;
        top: 120px;
        position: relative;
    }
}

/* 
@media all and (min-width: 376px) and (max-width: 767px) {
    .App {
        height: 140vh;
    }
    .App-container {
        height: 120%;
        background-size: 60%;
    }
    .Rectangle {
        width: 90%;
        height: 88%;
        left: 5%;
        top: 80px;
    }
    .App-logo {
        width: 70%;
        position: absolute;
        top: 15px;
    }
    .intro {
        font-size: 12px;
        top: 60px;
        position: relative;
    }
    .App-door {
        width: 200px;
        top: 60px;
        position: relative;
    }
    .App-button {
        padding: 10px 20px;
        top: 120px;
        position: relative;
    }
}

@media all and (width: 768px) {
    .App {
        height: 140vh;
    }
    .Rectangle {
        width: 90%;
        height: 1200px;
        left: 5%;
        top: 100px;
    }
    .App-logo {
        position: absolute;
        display: flex;
        top: -60px;
    }

    .intro {
        font-size: 12px;
        top: 200px;
        /* position: relative; 
    }
    .App-door {
        width: 200px;
        top: 120px;
    }
    .App-button {
        padding: 10px 20px;
        top: 12%;
        position: relative;
    }
}

@media all and (width: 820px) {
    .App {
        height: 120vh;
    }
    .Rectangle {
        width: 90%;
        height: 1200px;
        left: 5%;
        top: 100px;
    }
    .App-logo {
        width: 70%;
        position: absolute;
        top: 10px;
    }
    .intro {
        font-size: 12px;
        top: 200px;
    }
    .App-door {
        width: 200px;
        top: 120px;
    }
    .App-button {
        padding: 10px 20px;
        top: 12%;
        position: relative;
    }
} */
