@font-face {
  font-family: 'LanaPixel';
  font-style: normal;
  src: url('font/LanaPixel.ttf') format('truetype'); /* 경로 수정 */
}

.App {
  height: 200vh;
}

.App-container {
  background-color: #fff9fd;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*
  font-size: calc(10px + 2vmin);
   color: white; */
}
.Rectangle {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1070px;
  height: 1500px;
  left: calc(50% - 1070px / 2);
  top: 131px;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #ab09e6;
}

.App-logo {
  /* height: 50vmin; */
  width: auto;
  position: absolute;
  align-items: center;

  height: 351px;
  top: 56px;
  display: absolute;
}

.intro {
  font-family: 'LanaPixel';
  text-align: center;
  font-size: 20px;
  color: #972db7;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
}
